@using SocialBlog.Core.Services.Post.Models;

@model HomeViewModel

<div class="row">
	<h1>Top Three Most Favorite Topics</h1>
	@foreach (var post in Model.TopFavoriteThree)
	{
			<partial name="_PostPartial" model="@post" />
	}
</div>
