@using SocialBlog.Core.Services.Post.Models;
@model CreatePostViewModel

<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form method="post">
			<div class="form-group">
				<label asp-for="Title"></label>
				<input asp-for="Title" class="form-control" placeholder="Title..." />
				<span asp-validation-for="Title" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description"></label>
				<textarea asp-for="Description" rows="4" class="form-control" placeholder="Description"></textarea>
				<span asp-validation-for="Description" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Text"></label>
				<textarea asp-for="Text" rows="10" class="form-control" placeholder="Text"></textarea>
				<span asp-validation-for="Text" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Tag"></label>
				<textarea asp-for="Tag" class="form-control" placeholder="Tag"></textarea>
				<span asp-validation-for="Tag" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ImageUrlLink"></label>
				<input asp-for="ImageUrlLink" class="form-control" />
				<span asp-validation-for="ImageUrlLink" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="TimeForRead"></label>
				<input asp-for="TimeForRead" class="form-control" />
				<span asp-validation-for="TimeForRead" class="small text-danger"></span>
			</div>
			<div class="text-center">
				<input class="btn btn-primary mt-3" type="submit" value="Create" />
			</div>
		</form>
	</div>
</div>

