@using SocialBlog.Core.Services.Post.Models;

@model AllPostsViewModel

@{
	ViewBag.Title = $"Posts: {Model.PostsCount}";
}

<h2 class="text-center">@ViewBag.Title</h2>
<nav class="navbar bg-body-tertiary">
	<div class="container-fluid">
		<form class="d-flex" role="search">
			<input class="form-control me-2" type="search" placeholder="Search tag" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	</div>
</nav>
<hr />


@if (!Model.Posts.Any())
{
	<h2 class="text-center">No Post found</h2>
}

<div class="row">
	@foreach (var post in Model.Posts)
	{
		<partial name="_PostPartial" model="@post" />
	}
</div>
